<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理系统(产品上传)</title>
</head>
<body>
    <div>
        <form>

            <p>产品名称：<input type="text" name="username" id="username"></p>
            <p>价格：<input type="number" name="price" id="price"></p>
            <p>封面：<input type="file" name="filen" id="file"> </p>

            <p> <input type="submit" value="上传"> </p>
    
        </form>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(function(){
            // 监听表单提交

            $("form").submit(function(){

                // 获取表单数据
                let productname = $("#username").val()
                let price = $("#price").val()

                let photo =$("#file")[0].files
                console.log(photo)

                if(!productname){
                    alert('请填写产品名称')
                    return false
                }else if (!price) {
                    alert('请选择价格')
                    return false
                }else{

                    // 模拟form表单（常用方式）
                    let formData = new FormData()
                    // 把表单数据附加到formData
                    formData.append('pname',productname)
                    formData.append('price',price)

                    // 遍历多个附件
                    formData.append('file',photo)

                    // 通过ajax提交表单数据到后端
                    $.ajax({
                        url:'home/homeDoAsync',
                        method:'post',
                        data:formData,
                        // 服务器返回的类型json,html,xml
                        dataType:'json',
                        // 客户端给服务端发送的数据，因为有文件，所以要取消(不固定前端发送给后端的数据类型)
                        contentType:false,
                        // 默认true，不要序列化表单数据，文件就不能序列化
                        processData:false,
                        success:function(res){
                            console.log(res)
                        }
                    })
                }

                return false
            })
            
        })
    </script>
</body>
</html>